In [9]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [10]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2021-12-18 04:50:41,-34.4187,19.2345,65.89,73,42,16.17
1,1,Jamestown,US,2021-12-18 04:53:51,42.0970,-79.2353,35.29,91,40,3.44
2,2,Chokurdakh,RU,2021-12-18 04:52:43,70.6333,147.9167,-39.08,100,75,5.50
3,3,Ribeira Grande,PT,2021-12-18 04:53:51,38.5167,-28.7000,60.22,56,100,14.03
4,4,Nakatsu,JP,2021-12-18 04:53:52,33.5981,131.1883,46.18,46,93,14.03

In [11]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [12]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(31.0, 31.0), zoom_level=1.3)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
18,18,Rikitea,PF,2021-12-18 04:50:44,-23.1203,-134.9692,75.06,79,86,15.93
21,21,Carnarvon,AU,2021-12-18 04:51:02,-24.8667,113.6333,78.87,50,1,21.85
22,22,Bacolod,PH,2021-12-18 04:53:57,10.6667,122.9500,84.52,74,97,6.98
28,28,Hobart,AU,2021-12-18 04:53:58,-42.8794,147.3294,78.66,34,0,4.00
37,37,Cockburn Town,TC,2021-12-18 04:54:01,21.4612,-71.1419,79.59,75,0,26.82
38,38,Vaini,TO,2021-12-18 04:54:01,-21.2000,-175.2000,84.36,74,20,9.22
39,39,Alofi,NU,2021-12-18 04:54:02,-19.0595,-169.9187,84.09,74,24,11.50
40,40,Vao,NC,2021-12-18 04:54:02,-22.6667,167.4833,75.07,75,44,23.82
42,42,Cayenne,GF,2021-12-18 04:54:03,4.9333,-52.3333,81.09,86,75,4.00
49,49,Saint-Pierre,RE,2021-12-18 04:55:05,-21.3393,55.4781,84.56,59,0,4.61

In [28]:
preferred_cities_df.count()

City_ID       132
City          132
Country       132
Date          132
Lat           132
Lng           132
Max Temp      132
Humidity      132
Cloudiness    132
Wind Speed    132
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
18        Rikitea      PF     75.06 -23.1203 -134.9692
21      Carnarvon      AU     78.87 -24.8667  113.6333
22        Bacolod      PH     84.52  10.6667  122.9500
28         Hobart      AU     78.66 -42.8794  147.3294
37  Cockburn Town      TC     79.59  21.4612  -71.1419
38          Vaini      TO     84.36 -21.2000 -175.2000
39          Alofi      NU     84.09 -19.0595 -169.9187
40            Vao      NC     75.07 -22.6667  167.4833
42        Cayenne      GF     81.09   4.9333  -52.3333
49   Saint-Pierre      RE     84.56 -21.3393   55.4781

In [31]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [32]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
18,Rikitea,PF,75.06,-23.1203,-134.9692,People ThankYou
21,Carnarvon,AU,78.87,-24.8667,113.6333,Hospitality Carnarvon
22,Bacolod,PH,84.52,10.6667,122.9500,Planta Hotel & Residences
28,Hobart,AU,78.66,-42.8794,147.3294,Mantra on Collins Hobart
37,Cockburn Town,TC,79.59,21.4612,-71.1419,Osprey Beach Hotel
...,...,...,...,...,...,...
541,Banda Aceh,ID,77.99,5.5577,95.3222,
543,Buala,SB,77.59,-8.1450,159.5921,
548,Yeppoon,AU,87.58,-23.1333,150.7333,
552,Port Blair,IN,82.67,11.6667,92.7500,
553,The Valley,AI,79.11,18.2170,-63.0578,CeBlue Villas & Beach Resort

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
""" 
#Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]